<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <title>Users Diary</title>
</head>

<body>
    <header class="container">
        <h1>Users Diary</h1>
    </header>

    <main class="container">
        <h2>Welcome to Users Diary Express App</h2>
        <a href="/users"><button class="button-blue">See Users list</button></a>
        <a href="/users/new"><button class="button-green">Add New Users</button></a>
    </main>
    <footer>

    </footer>
</body>

</html>