<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <title>User Form</title>
</head>

<body>
    <header class="container">
        <h1>New User Form</h1>
    </header>
    <main class="container">
        <form action="/users" method="post" class="flex">
            <input type="text" name="name" placeholder="name">
            <input type="email" name="email" placeholder="email">
            <input type="number" name="age" placeholder="age">
            <textarea name="bio" id="" cols="30" rows="10" placeholder="Tell us more about you"></textarea>
            <input type="text" name="hobbies" placeholder="hobbies">
            <input type="submit" value="Add user" class="button-green adduser-btn">
        </form>
    </main>
    <footer>

    </footer>
</body>

</html>